@model CollectionsViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your collections</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.PersonNamesCount total person names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-people-group fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.PlaceNamesCount total place names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.TitleNamesCount total title names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.SpellNamesCount total spell names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.ArtefactNamesCount total artefact names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.OtherNamesCount total other names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <i class="fa-solid fa-people-group"></i>
                    Person names collection
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <a style="color: #ff6962" data-toggle="modal" data-target="#personNamesModal">
                        <i class="fa-solid fa-trash" data-toggle="tooltip" data-placement="top" title="Warning. This will delete your entire person name collection!!!"></i></a>
                </div>
            </div>
         </div>
     </div>
     <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-controller="Collections" asp-action="UploadPersonNames">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more <strong>person name</strong> JSON files.</p>
                    <input type="file" name="files" multiple class="form-control"/>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" class="form-control"/>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="form-group">
                <div class="col-md-10">
                    <p>Export and download your <strong> person names</strong>  collection in a JSON file.</p>
                    <a asp-controller="Collections" asp-action="ExportPersonNames" class="btn btn-secondary">Export person names</a>
                </div>
            </div>
    </div>
</div>

<!-- Modals -->

<!-- Delete person names modal -->
<div class="modal" id="personNamesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danger zone!</h5>
        <button type="button" class="btn btn-secondary close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action will delete your whole <strong> person names</strong>  collection! If you have not exported it before, you will not be able to recover it!</p>
      </div>
      <div class="modal-footer">
         <a asp-controller="Collections" asp-action="DeletePersonNames" class="btn btn-danger" style="" data-toggle="tooltip" data-placement="top" title="Warning. This will delete your entire person name collection!!!">
             Delete</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
    <div class="card-header">
         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <i class="fa-solid fa-map-location-dot"></i>
                    Bulk upload place names
                </div>
            </div>
         </div>
     </div>
     <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-controller="Collections" asp-action="UploadPlaceNames">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more <strong>place name</strong> JSON files.</p>
                    <input type="file" name="files" multiple class="form-control"/>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" class="form-control"/>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {
     <script>
$('.toast').toast('show');
$('[data-toggle="tooltip"]').tooltip();
$('#personNamesModal').on('shown.bs.modal', function() {
    $('#myInput').trigger('focus')
});
    </script>
}
