@model CollectionsViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your collections</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h7 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.PersonNamesCount total person names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-people-group fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h7 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.PlaceNamesCount total place names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h7 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.PlaceNamesCount total place names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.PlaceNamesCount total place names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.PlaceNamesCount total place names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.Statistics.PlaceNamesCount total place names
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-map-location-dot fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
     <script>
    </script>
}
