@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@*Person names table*@
 <div class="card mb-4">
     <div class="card-header">
         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <i class="fa-solid fa-people-group"></i>
                    Person names
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <a asp-controller="PersonNames" asp-action="Create" style="color: green" data-toggle="tooltip" data-placement="top" title="Add a new name to the collection."><i class="fa-solid fa-square-plus"></i></a>
                </div>
            </div>
         </div>
     </div>
     <div class="card-body">
         <table class="datatable-table table table-striped" id="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col"><i class="fa-solid fa-toolbox"></i></th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Etymology</th>
                    <th scope="col">Tags</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var name in Model.PersonNames)
            {
                <tr>
                    <th scope="row">@name.Id</th>
                    <td><a asp-controller="PersonNames" asp-action="Delete" asp-route-id="@name.Id" style="color: #ff6962" data-toggle="tooltip" data-placement="top" title="Remove this name from the collection."><i class="fa-solid fa-trash"></i></a></td>
                    <td>@name.FirstName</td>
                    <td>@name.LastName</td>
                    <td>@name.Gender</td>
                    <td>
                        @if (!string.IsNullOrEmpty(name.Etymology))
                            {
                                <a href="@name.Etymology" target="_blank">Link</a>
                            }
                    </td>
                    <td>
                    @if (name.Tags != null)
                    {  
                        @for (int i = 0; i < name.Tags.Count(); i++)
                                {
                                    if (i+1 < name.Tags.Count())
                                    {
                                        <span> @name.Tags[i] ,</span>
                                    }
                                    else
                                    {
                                        <span> @name.Tags[i]</span>
                                    }
                                }
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


@*Place names table*@
 <div class="card mb-4">
     <div class="card-header">
         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <i class="fa-solid fa-map-location-dot"></i>
                    Place names
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <a asp-controller="PlaceNames" asp-action="Create">Add name</a>
                </div>
            </div>
         </div>
     </div>
     <div class="card-body">
         <table class="datatable-table table table-striped" id="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col"><i class="fa-solid fa-toolbox"></i></th>
                    <th scope="col">Name</th>
                    <th scope="col">Tags</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var name in Model.PlaceNames)
            {
                <tr>
                    <th scope="row">@name.Id</th>
                    <td><a asp-controller="PlaceNames" asp-action="Delete" asp-route-id="@name.Id" style="color: #ff6962"><i class="fa-solid fa-trash"></i></a></td>
                    <td>@name.Name</td>
                    <td>
                    @if (name.Tags != null)
                    {  
                        @for (int i = 0; i < name.Tags.Count(); i++)
                                {
                                    if (i+1 < name.Tags.Count())
                                    {
                                        <span> @name.Tags[i] ,</span>
                                    }
                                    else
                                    {
                                        <span> @name.Tags[i]</span>
                                    }
                                }
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@*Title names table*@
 <div class="card mb-4">
     <div class="card-header">
         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <i class="fa-solid fa-crown"></i>
                    Title names
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <a asp-controller="PersonNames" asp-action="Create">Add name</a>
                </div>
            </div>
         </div>
     </div>
     <div class="card-body">
    </div>
</div>

@*Spell names table*@
 <div class="card mb-4">
     <div class="card-header">
         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <i class="fa-solid fa-hand-sparkles"></i>
                    Spell names
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <a asp-controller="PersonNames" asp-action="Create">Add name</a>
                </div>
            </div>
         </div>
     </div>
     <div class="card-body">
    </div>
</div>

@*Artefact names table*@
 <div class="card mb-4">
     <div class="card-header">
         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <i class="fa-solid fa-gem"></i>
                    Artefact names
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <a asp-controller="PersonNames" asp-action="Create">Add name</a>
                </div>
            </div>
         </div>
     </div>
     <div class="card-body">
    </div>
</div>



@section scripts {
     <script>
        // Enable datatables
        $(document).ready( function () {
            $('.datatable-table').DataTable();
            $('[data-toggle="tooltip"]').tooltip();
        } );
    </script>
}
